<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
    <head>
        <title>Mount</title>
    </head>
    <body>
        <div layout:fragment="content" class="row">
            <div class="col-xs-8 col-md-8">
                <h3>
                    <a href="/mount" class="btn btn-lg btn-primary"><i class="fas fa-list"></i> Mounts</a>
                </h3>
                <h2>Create Mount</h2>
                <form action="/mount/save">
                    <div class="form-group">
                        <label for="serial">Serial:</label>
                        <input type="text" class="form-control" name="serial" />
                    </div>
                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Manufacture</button>
                </form>
            </div>
        </div>
    </body>
</html>