<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="default">
<head>
<title>Mount</title>
</head>
<body>
	<div layout:fragment="content" class="row">
		<div class="col-xs-8 col-md-8">
			<h3>
				<a href="/mount" class="btn btn-lg btn-primary"><i
					class="fas fa-list"></i> Mounts</a>
			</h3>
			<h2>Assemble Real32 Unit</h2>
			<div class="form-group">
				<form action="real32/save">
					<div>
						<label for="">Real32 Serial:</label> <input type="text"
							class="form-control" name="serial"></input>
					</div>


					<div>
						<label for="mountA">Mount A:</label> <select>
							<option th:each="mount : ${mounts}" th:text="${mount.serial}"
								th:value="${mount.serial}" id=mountA></option>
						</select>
					</div>
					<div>
						<label for="mountB">Mount B:</label> <select>
							<option th:each="mount : ${mounts}" th:text="${mount.serial}"
								th:value="${mount.serial}" id=mountB></option>
						</select>
					</div>
					<button type="submit" class="btn btn-success">
						<i class="fas fa-save"></i> Assemble!
					</button>
				</form>
			</div>

		</div>

		<div>
			<form id="real32Search">
				<label for="search">Search:</label> <input type="text"
					class="form-control" id="search">
				<button type="submit" id="search" class="btn btn-success"
					onclick="displayTable"></button>
				<p id="tableSpace"></p>
				<script>
					function displayTable() {

						var searchQuery = Document.getElementById("search")
								.text();

						//HTML request the data here. Put this in an array. Print out the array to test.
						
						
						let request = new XMLHttpRequest();
						try{
						request.open('GET', '/real32/show/SuperReal32',		//Only machine in db right now
								false);

						request.onload = function() {
							if (request.readyState === request.DONE) {
								return this.responseText;
							}
						};
						request.send();
						let JSONResponse = JSON.parse(request.responseText);
						}
						catch
						{
							alert("At least this works...")
						}
						const mountA = JSONResponse["mountA"];
						const mountB = JSONResponse["mountB"];

						var text = "<table border='1'><tr><td>" + mountA
								+ "</td><td>" + mountB + "</td></tr></table>"

						Document.getElementById("tableSpace").innerHTML = text;

					};
				</script>
			</form>
		</div>


	</div>
</body>
</html>